<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >ShopOut</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="display-product"
            >Products</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn() && auth.isAdmin()">
          <a class="nav-link active" routerLink="add-product">Add-Product</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
          <a  class="nav-link active" routerLink='login' routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
          <a  class="nav-link active" routerLink='register' routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item  active" *ngIf="auth.isLoggedIn()">
          <a href="" class="nav-link" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
